@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* ENLACES MÁS VISITADOS */

.img-circular {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 180px;
    object-position: center;
    margin-bottom: 10px;

}

.link-negro {
    text-decoration: none;
    color: black
}

.link-negro p {
    font-size: 20px;
}

.link-negro:hover {
    text-decoration: none; 
}

.link-negro:hover #ayudas {
    text-decoration: underline 2px rgb(255, 230, 0);
}

.link-negro:hover #aulam {
    text-decoration: underline 2px rgb(223, 87, 8);
}

.link-negro:hover #UNED {
    text-decoration: underline 2px rgba(38, 139, 4, 0.507);
}

.link-negro:hover #centros {
    text-decoration: underline 2px rgb(139, 4, 4);
}



/* INTERFAZ DE PESTAÑAS */
.pestañas-contenedor {
    width: 1000px;
    height: 700px;
}

.pestañas-contenedor button {
    font-size: 1.3em;
}

.pestaña {
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.103);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.pestaña img {
    border-radius: 10px;
}

.pestaña h3 {
    text-decoration: underline 5px #dc354677;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: #dc3545;
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #dc3545 !important;
    background-color: rgba(128, 128, 128, 0.103);
}

/* PARALAX */
.paralax {
    height: 400px;
    background-image: url("../img/body/ninos.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* FORMULARIO */

.form-container {
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #666;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(/assets/img/body/formulario/360_F_285110178_yUj7sFp89xPArBzrUnZ1qGP0TPLnDwr2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: #f5f5f5b0;
    border-radius: 10px;
}

input,
textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #dc3545;
    outline: none;
}

input::placeholder {
    color: #666;
}

.form-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #dc3545;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.form-btn:hover {
    background: #dc3545;
}

@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
    }

    .left-part,
    form {
        width: 50%;
    }
}