@import url(body.css);
.carousel-item img {
    /* this will align the image to center. */
    max-height: 400px;
    /* for those images which don't have a width specified, but has a max-height will be auto adjusted */

    
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 20%;
}

.carousel-img{
    height: 300px;
}

/* .img-container {
    background: radial-gradient(ellipse at top, #ffffff, transparent), radial-gradient(ellipse at bottom, #ffffff, transparent);
} */
