@import url(body.css);

:root {
    --color-primario: #ad002e;
}

.header .carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    top: 20%;
}

.header .carousel-item {
    overflow: hidden;
    background-size: cover;
    background-position: center;

    min-height: 250px;
}

.carousel-control-prev {
    justify-content: left;
}

.carousel-control-next{
    justify-content: right;

    min-height: 350px;
}

#carouselExampleAutoplaying h1 {
    color: rgba(255, 255, 255, 0.795);
}

#carouselExampleAutoplaying h5 {
    color: var(--color-primario);
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.795);
    padding: 20px;
    border-radius: 20px;
}

#carouselExampleAutoplaying p {
    color: rgba(255, 255, 255, 0.836);
    font-weight: 600;
}

#carouselExampleAutoplaying a {
    text-decoration: none;
    border-radius: 20px;
}

#carouselExampleAutoplaying a:hover {
    background-color: var(--color-primario);
    color: rgb(255, 255, 255);
}

#carouselExampleAutoplaying .btn-danger:hover {
    background-color: rgb(255, 255, 255);
    color: var(--color-primario);
}

.carousel-container {
    background-color: rgba(255, 255, 255, 0.377);
    height: 250px;
    border-radius: 20px;
    padding: 30px;
}

.carousel-container h2 {
    color: var(--color-primario);
    font-weight: 550;
}
