.carousel-item img {
    margin: 0 auto;
    /* this will align the image to center. */
    width: auto;
    max-height: 400px;
    /* for those images which don't have a width specified, but has a max-height will be auto adjusted */

    background: radial-gradient(ellipse at top, #ffffff, transparent), radial-gradient(ellipse at bottom, #ffffff, transparent);
}


