@import url(header.css);
@import url(footer.css);

.subrayado {
    border-bottom: solid 15px #ff000056;
    width: max-content;
    line-height: .2;
}

.texto-imagen {
    line-height: 10px;
    margin-top: 20px;
}