footer {
    background-color: red;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

ol, ul {
    padding-left: 1.2rem;
}

ul[class*="no-bullets"]{
    line-height: 35px;
}

.no-bullets a{
    color: white;
}