@import url(navbar.css);
@import url(carousel.css);

<<<<<<< Updated upstream
.header div.navrow{
    background: linear-gradient(#ff0000e0, #ff00008c);
}
=======

.header{
    margin-right: 0;
    margin-left: 0;
    width: 103vw;
    margin-bottom: 100px;
}
.header div.navrow{
    background: linear-gradient(#ff0000e0, #ff000070);
}



header>.cabecera-titulo {
    height: 400px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: #ff00008c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin-top: 50px;
}

header>.cabecera-titulo>h1 {

    color: white;
    font-size: 5em;
}

>>>>>>> Stashed changes
