@import url(body.css);
.navbar a{
    text-decoration: none !important;
    color: black;
}

.nav-link{
    color: white !important;
}

.navbar{
    font-size: 30px;
    
}
.dropdown-menu{
    padding: 0 !important;
    border-radius: 0;
}

.nav-item{
    margin-right: 5px;
    text-align: center;
}
.nav-item:hover{
    background-color: #ff000033 !important;
}

.dropdown-item:hover{
    background-color: #ff00006c !important;
}

.navbar-toggler{
    background-color: #ff00006c;
    border-color: rgba(129, 2, 2, 0.424)!important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(129, 2, 2, 0.424)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
