.noticia-link{
    display: flex;
    justify-content: center;
    text-decoration: none !important;
}

.noticia-img:hover{
    border: solid 2px #ff000093;
    box-shadow: 0px 0px 5px 0px rgb(145, 145, 145);

}