:root {
    --color-primario: #ad002e;
}

.pestañas-contenedor .nav-link{
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.pestañas-contenedor .nav-link.active{
    border: 0 !important;
    margin-bottom: 0 !important;
}

.pestañas-contenedor ul{
    border-bottom: 0;
}

/* INTERFAZ DE PESTAÑAS */
.pestañas-contenedor {
    max-width: 1000px;
    margin-bottom: 100px;
}

.pestañas-contenedor button {
    font-size: 1.3em;
}

.pestaña {
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.103);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.pestaña img {
    border-radius: 10px;
}

.pestaña h3 {
    text-decoration: underline 5px var(--color-primario);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--color-primario);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--color-primario) !important;
    background-color: rgba(128, 128, 128, 0.103);
}

.pestaña .col-md-6{
    margin-bottom: 20px;
}


/* PESTAÑAS CON LETRAS PEQUEÑAS */

@media (max-width:800px) {
    .pestañas-contenedor button{
        padding: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .pestañas-contenedor li{
        width: 20%;
    }
    
}
@media (max-width:600px) {
    .pestañas-contenedor button{
        font-size: 14px;
    }
}

/* FIN PESTAÑAS */
/* CAROUSEL PESTAÑAS */
.pestaña .carousel-item{
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}