/* 
    Document   : estilo
    Created on : 23-ene-2010, 18:56:09
    Author     : Manolo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/***************************************************************************/
/* Estilos de maquetacion de la pantalla */
/***************************************************************************/
.tblContenedor
{
    font-size:0.7em;    
}
.tdContenedorLateral
{
    width:250px;
    background-color:#EAE6E7;
    vertical-align:top;    
}
.tdContenedorCentral
{
    vertical-align:top;
    background-color: #1A14AA;
}
#divImagenSuperior
{
    height:110px;
    background-repeat:no-repeat;
    background-position:left top;
    width:100%;
    background-color: #1A14AA;
    overflow: hidden;
}
#imgEscudo
{
    /*margin-top:70px;*/
    width:200px;
}
#imgEscudoGrande
{
    position:absolute;
    left:215px;
    top:0px;
    height:150px;
}
#divIdiomas
{
    /*margin-top:20px;*/
    margin-top: 5px;
    width:70%;
    text-align:right;
    font-family:arial;
}
#divIdiomas a
{
    text-decoration:none;
    color:#333;
}
#divIdiomas a:hover
{
    color:#cc9900;
}
#divMenus
{
    margin-top:50px;
    text-align:right;
    padding-right:10px;
}
#div_pie_portal
{
    margin-top:5px;
    margin-left:30px;
    border-top: dotted 1px #efefef;
    font-size:0.75em;
    color: #666;
    text-align:center;
    float: left;
}
#div_pie_nidea
{
    float:right;
    font-size:0.6em;
    color: #666;
}

#divCuerpoPantalla
{
    font-size:0.7em;
    /*width:97%;*/
    text-align:left;
}
#divSecciones
{
    width: 100%;
}
.div_titulo_secciones
{
    font-size:1.1em;
    padding:5px;
    background-color:#666;
    color:white;
    
}
#div_datos_ayuntamiento
{
    font-size:0.7em;
    color:#666;
}
/***************************************************************************/
/* Estilos de los menus de navegacion */
/***************************************************************************/
.a_navegacion
{
    color:#9D112E;
    text-decoration:none;
}
.a_navegacion:hover
{
    color:#cc9900;
}
.a_menu
{
    letter-spacing:0.1em;
    text-decoration:none;
    color:#333;
    font-weight:bold;
    font-size:1.4em;
}
.a_menu:hover
{
    color:#cc9900;
}
.tdMenu
{
    text-align:right;
    width:100%;
}
.ul_seccion
{
    list-style-type:none;
    margin-right:10px;
    
}
.li_seccion
{
    margin-bottom:5px;
    font-size:0.7em;
    line-height:1.4em;
}
.a_seccion
{
    font-size:1.1em;
    color:#333;
}
.a_seccion_seleccionada
{
    font-size:1.1em;
    font-weight:bold;
}
.ul_subseccion
{
    list-style-type:none;
    border-top:dotted 1px #333;
    border-bottom:dotted 1px #333;
    padding-bottom:10px;
}
.a_subseccion
{
    font-size:0.9em;
    color:#333;
}
.a_subseccion_seleccionada
{
    font-size:0.9em;
    font-weight:bold;
}
/***************************************************************************/
/* CIERRE Estilos de los menus de navegacion */
/***************************************************************************/
/***************************************************************************/
/* Estilos del acceso de usuarios */
/***************************************************************************/
.a_acceso_usuarios
{
    font-size:0.8em;
    color:blue;
}

#div_contenedor_acceso
{
    width:95%;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
    text-align:justify;
}
#div_panel_acceso_izquierdo
{
    width:45%;
    border:solid 1px #999;
    background-color:#efefef;
    float:left;
    padding:5px;
}
#div_panel_acceso_derecho
{
    width:45%;
    border:solid 1px #999;
    background-color:#efefef;
    float:/*right*/left;
    padding:5px;
    margin-left: 70px;
}
#div_panel_acceso_areas
{
    margin-left:20px;
}
.lbl_error
{
    color:red;
}
.lbl_mensaje_acceso
{
    display:block;
    background-color:#efefef;
    font-size:1.3em;
    padding:5px;
}
/***************************************************************************/
/* CIERRE Estilos del acceso de usuarios */
/***************************************************************************/
/***************************************************************************/
/* Estilos del area privada del usuario */
/***************************************************************************/
.lbl_privado_titulo
{
    width:90%;
    display:block;
    border-bottom:dotted 1px #666;
    margin-top:20px;
    margin-bottom:10px;
    font-size:1.2em;
    font-weight:bold;
    color:#9D112E;
}

/***************************************************************************/
/* CIERRE Estilos del area privada del usuario */
/***************************************************************************/
/***************************************************************************/
/* Estilos de la busqueda de contenidos */
/***************************************************************************/
.lbl_busqueda_titulo
{
    width:90%;
    display:block;
    border-bottom:dotted 1px #666;
    margin-bottom:10px;
    font-size:1.2em;
    font-weight:bold;
    color:#9D112E;
}
.div_busqueda_criterios
{
    background-color:#efefef;
    width:80%;
    margin-left:30px;
    padding-top:5px;
}
.div_busqueda_licitaciones
{
    width:98%;
    margin-left:30px;
    padding-top:5px;    
}
.lbl_busqueda_criterio
{
    font-weight:bold;
    width:140px;
    display:inline-block;
    text-align:right;
}
.ddl_busqueda_etiqueta
{
    font-size:1em;
    width:200px;
}
.li_busqueda_criterios
{
    margin-top:5px;
}
.ul_buscador_resultado
{
    list-style:none;
}
.li_buscador_resultado
{
    margin-bottom:10px;
}
.a_buscador_noticia
{
    font-size:1.1em;
    color:#9D112E;
}
.a_buscador_noticia:hover
{
    color:#cc9900;
}
.lbl_buscador_fecha
{
    margin-left:5px;
    color: #333;
}
.lbl_buscador_localizacion
{
    
}
.a_buscador_localizacion
{
    color:#666;
}
.a_buscador_localizacion:hover
{
    color: #cc9900;
}
.div_buscador_numeros
{
    text-align:center;
}
.a_buscador_numeros
{
    font-size:1.2em;
}
/***************************************************************************/
/* CIERRE: Estilos de la busqueda de contenidos */
/***************************************************************************/
/***************************************************************************/
/* Estilos de los resultados de la encuesta */
/***************************************************************************/
.lbl_resultadoencuesta_pregunta
{
    font-weight:bold;
    font-size:1.1em;
}
.ul_resultadoencuesta_respuestas
{
    list-style:none;
    width:50%;
    float:left;
    margin-top:25px;
}
.li_resultadoencuesta_respuestas
{
    border-bottom:dotted 1px #999;
    margin-bottom:3px;
}
/***************************************************************************/
/* CIERRE: Estilos de los resultados de la encuesta */
/***************************************************************************/
/***************************************************************************/
/* Estilos del contenido */
/***************************************************************************/

#divBusqueda
{
    /**position:absolute;
    right:0px;
    top: 0px;
    text-align:right;
    width:250px;
    height:65px;
    background-color:#efefef;
    font-size:0.7em;
    background-image:url(img/fondoBusqueda.png);
    background-repeat:no-repeat;    padding-top:3px;**/

}
.txt_busqueda
{
    width:150px;
    float: right;
}
.a_busqueda
{
    color:white;
    background-color:#9D112E;
    display:block;
    width:75px;
    text-decoration:none;
    float:right;
    padding:4px;
    margin-left:5px;
    margin-right:5px;
}
.a_busqueda:hover
{
    color:#cc9900;
}
.btn_busqueda
{
    color:white;
    background-color:#9D112E;
    width:75px;
    text-decoration:none;
    float:right;
    margin-left:5px;
    margin-right:5px;
    border:0;
    cursor:pointer;
}
.a_busqueda_avanzada
{
    color:#9D112E;
    margin-right:5px;
}
.a_busqueda_avanzada:hover
{
    color:#cc9900;
}
#divDireccion
{
    margin-top:30px;
    text-align:right;
    padding-right:10px;
}
#divDireccion a
{
    color:#3399cc;
    text-decoration:none;
}
#divDireccion a:hover
{
    color:#cc9900;
}
.tituloDireccion
{
    font-size:1.5em;
}
.anchoColumnasLicitaciones
{
    width: 10px;    
}
.alineacionTextoColumna
{
    text-align: center;
}
.estiloEncabezadoTablaBusqueda
{
    font-weight: bold;
    background-color: #efefef;
    text-align: center;
}
.estiloCampoIdentificacion
{
    font-weight: bold;
    background-color: #efefef;
    text-align: center;
    width: 50%;
}
.estiloEtiquetasDetalle
{
    font-weight: bold;
}
.anchoColumnaBusqueda
{
    width: 30px;
}
.anchoEtiquetaBusqueda
{
    width: 250px;
}
