.lbl_encuesta_titulo_pregunta
{
    font-size:1.2em;
    font-weight:bold;
}
.ul_encuesta_respuestas
{
    list-style:none;
}
.li_encuesta_respuestas{}
.lbl_encuesta_respuesta{

}
.a_encuesta_votar
{
    margin-left:10px;
}