.a_contenido_titulo_compacto
{}
.a_contenido_titulo_resumen
{
    color:#9D112E;
    font-size:1.2em;
}
.lbl_contenido_fecha_resumen
{
    /*font-size:1.5em;*/
    color:#666;
}
.div_contenido_resumen
{
    /*font-size:1.6em;*/
}
.a_contenido_leyendo
{
    color:#9D112E;
    /*font-size:1.5em;*/
}
.div_contenido_titulo_resumen
{}
.img_contenido_compacto
{}

